@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */
body {
    color: rgb(216, 221, 218);
    margin: 0;
    padding: 50px 0;
    width: 100%;
    height: 100vh;
    background-image: url("https://cldup.com/eP13cQZy4t.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
section {
    overflow: auto;
}
textarea {
    resize: vertical;
}
footer {
    font-size: 13px;
    background-color: rgba(11, 11, 11, 0.55);
    color: #aaa;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    .copyright {
        margin-top: 7px;
    }
}
.col-md-4 {
    width: 100%;
}
.navbar {
    background-color: rgba(11, 11, 11, 0.7);
}
.dropdown-menu {
    background-color: rgba(171, 237, 111, 0.4);
}
.center {
    text-align: center;
}
.center h1 {
    margin-bottom: 10px;
}
/* typography */
h1,
h2,
h3 {
    text-align: left;
    margin-left: 50px;
}
h4,
h5,
h6 {
    line-height: 1;
}
h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}
p {
    font-size: 1.1em;
    line-height: 1.7em;
}
/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}
#logo:hover {
    color: #fff;
    text-decoration: none;
}
/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* forms */
.uneditable-input,
input,
select,
textarea {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}
input {
    height: auto !important;
}
#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px;
    }
}
.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}
/* sidebar */
aside {
    section.user_info {
        margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0;
        }
    }
}
.item-box {
    width: 220px;
    height: 220px;
    margin: 15px;
    float: left;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    position: relative;
    .image {
        display: table;
        border: 1px solid #ddd;
        background: rgba(0,0,0,0.4);
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        .img-wrap {
            padding: 10px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            a {
                color: rgb(127, 191, 223);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }
        }
    }
}
#link_url {
    color: rgb(51, 51, 50);
}
#link_bunrui {
    color: rgb(51, 51, 50);
}
.panel {
    background: rgba(0,0,0,0.4);
}
.panel-body {
    color: rgb(216, 221, 218);
}
.jumbotron {
    background: rgba(0,0,0,0.4);
}
/* navbar-leftの場合はここをleftに変える */
.navbar-right {
    float: right;
}

.item-box .image .img-wrap a.tempinline {
    display:inline;
}